@media print {
    @page {
        size: 22.50cm 14cm ;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

        font-weight: 300;
        font-size: 12px;
        letter-spacing: -1px;
    }

    #notaEntrega {
        margin: auto;
        border: #000 solid 1px;
        border-radius: 5px;
        margin-bottom: 15px;

        padding: 11px;
        width: 23% !important;
    }

    .nota_entrega_seccion {

        font-weight: bold;
        font-size: 11px;
        height: auto;
      /*  min-height: 10cm;*/
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        /* page-break-inside: auto;*/
        page-break-after: always;
        margin: 0;

    }

    div {
        font-weight: bold;
        font-size: 12px;
    }

    table {
       page-break-inside: auto;
    }

    #tabla_resumen_productos thead tr {

        border-bottom: 1px #000 solid;
        font-weight: bold;
    }

    #tabla_resumen_productos thead tr th {

        border-bottom: 1px #000 solid;
        font-size: 12px !important;
        font-weight: bold;
    }

    #tabla_resumen_productos tbody tr td {

        font-size: 12px !important;
        font-weight: bolder;
    }

    #totales_, #footer, strong {
        font-size: 11px !important;
        font-weight: bold;
    }

    h6 {
        font-size: 11px;
        font-weight: bold;
    }

    h4 {
        font-size: 20px;
        font-weight: bold;
    }
    h5 {
        font-size: 15px;
        font-weight: bold;
    }
}